<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>avianka</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    
    <style > 
    .anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    </style>
</head>
<body style="background-color: rgb(66, 210, 208);">
    <header style="font-family: anta; font-size: 40px;">
        <ul style="background-color: aliceblue;">
            Avianka con k
        </ul>
    </header>
</body>
</html>
