body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #22bdbd;
    color: #fff;
    padding: 10px;
    text-align: left;
}
nav {
    background-color: #0c4b50;
    color: #fff;
    padding: 10px;
    text-align: left;
}
section {
    padding: 20px;
    text-align: left;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.box {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #2cbcb71a;
    text-align: left;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}